
{% extends "base.html" %}

{% block title %}Card Details{% endblock %}

{% block content %}

<div class="form-card" style="max-width:600px;">

<h2 style="margin-bottom:25px;">My Card</h2>

<!-- Card Preview -->

<div style="
background:#1f4ed8;
color:white;
border-radius:14px;
padding:25px;
margin-bottom:25px;
">

<h3 style="margin-bottom:20px;">TrustPay Card</h3>

<p style="font-size:20px; letter-spacing:2px;">
{{user.wallet.card_number}}
</p>

<div style="margin-top:20px;">
<p>{{user.name}} {{user.surname}}</p>
<p>Exp: {{user.wallet.card_exp}}</p>
</div>

</div>


<!-- Card Information -->

<div style="margin-top:10px;">

<div class="form-group">
<label>Card Number</label>
<input type="text" value={{user.wallet.card_number}} readonly>
</div>

<div class="row">

<div class="form-group">
<label>Expiry Date</label>
<input type="text" value={{user.wallet.card_exp}} readonly>
</div>

<div class="form-group">
<label>CVV</label>
<input type="text" value={{user.wallet.card_cvc}} readonly>
</div>

</div>

<div class="form-group">
<label>Card Holder</label>
<input type="text" value="{{user.name}} {{user.surname}}" readonly>
</div>

</div>

</div>

{% endblock %}

